$border-radius: .5rem;
$border: 1px solid grey;

html {
    font-family: 'Exo 2', sans-serif;
}

header {
    width: 40rem;
    margin:0 auto;

    nav {
        width: 100%;
        display: flex;
        justify-content: center;
        padding:1rem;

        a {
            padding:.5rem 1rem;
            text-decoration: none;
            color:#000;
            border:$border;
            margin: 0 .5rem;
        }
    }
}

.container {
    width: 40rem;
    margin:0 auto;
    padding:0 2rem;
    animation:fadeIn 750ms forwards;

    #addNewExerciseBtn, #addNewSetBtn {
        border:$border;
        width: 10rem;
        margin: 1rem auto;
        padding:1rem;

        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }

    h2,h3 {
        text-align: center;
    }
    
    h3 a {
        text-decoration: none;
        color:orange;
    }

    form {
        width: 20rem;
        display:flex;
        flex-direction: column;
        margin:0 auto;
        transition:500ms;
        opacity: 1;
    }

    .otherOption {
        width: 20rem;
        margin:0 auto;
        padding:1rem 0;

        a {
            padding:.5rem 1rem;
            text-decoration: none;
            color:#000;
            border:$border;
            margin: 0 .5rem;
        }
    }

    table {
        width: 100%;
        margin:0 auto;
        text-align: center;
        border-collapse:collapse; 
        
        tbody {
            
            tr {
                
                
                td {
                    padding:1rem;
                    border:$border;
                }
            }
        }
    }


    .exercises {
        margin:0 auto;
        padding:0 2rem;
        display:flex;
        overflow: hidden;
        display:flex;
        flex-direction: column;
        
        .exercise {
            border:$border;
            border-radius: $border-radius;
            margin: 1rem 0;
            transition:250ms;
            min-width: 25rem;
            height: 25rem;
            background-size: cover;
            background-position: center;
            color:#fff;
            background-repeat: no-repeat;
            display:flex;
            justify-content: center;

            &:hover {
                cursor: pointer;
            }

            .exercise-title {
                font-size:2rem;
                padding:2rem 1rem;

                &::before {
                    content:'title:';
                    text-transform: uppercase;
                    font-weight: 600;
                    margin-right:.5rem;
                    font-size:2rem;
                }
            }
        }
    }
}

.hide {
    // display:none !important;
    opacity: 0 !important;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1}
}